    <div class="d-flex flex-row align-items-center" *ngIf="this.isOrderedBy">
    <div *ngIf="this.icon != undefined && this.isOrderedBy" class="accent-color ellipsis" [ngClass]="this.icon"></div>
</div>
            class="secondary-text ellipsis las la-angle-up ml-1"
        <i
            *ngIf="!this.isOrderedAscending"
        </i>
        <i
            [ngClass]="{ 'accent-color-important': this.isOrderedBy }"
    </div>
        >
        ></i>
    <div *ngIf="this.icon == undefined" class="secondary-text ellipsis" [ngClass]="{ 'accent-color-important': this.isOrderedBy }">
            *ngIf="this.isOrderedAscending"
    </div>
            [ngClass]="{ 'accent-color-important': this.isOrderedBy }"
        {{ this.text }}
            class="secondary-text ellipsis las la-angle-down ml-1"
<div class="d-flex flex-row">
    <div *ngIf="this.icon != undefined && !this.isOrderedBy" class="secondary-text ellipsis" [ngClass]="this.icon"></div>
