    </div>
        {{ 'welcome-to-dopamine' | translate }}
    </div>
    <div *ngIf="!this.isLoaded" class="title fade-in-animation animation-duration-2s animation-delay-2s">
    <div *ngIf="!this.isLoaded" class="larger fade-in-animation animation-duration-2s animation-delay-2s">
</div>
    <div *ngIf="this.isLoaded" class="title">
        {{ 'hi' | translate }}
    <div *ngIf="this.isLoaded" class="larger">
        {{ 'welcome-to-dopamine' | translate }}
    </div>
        {{ 'hi' | translate }}
    </div>
<div class="d-flex flex-column p-3">
