                <app-now-playing-playback-pane
        ></app-window-controls>
                            (albumClick)="onAlbumClickAsync($event)"
        </div>
                        <app-album-placeholder
                        <app-album-placeholder
                        <app-album-placeholder
                        ></app-album-placeholder>
                        <app-album-placeholder
            </div>
                            [animationDelay]="animationDelays[11]"
                            [animationDelay]="animationDelays[0]"
                            [album]="mostPlayedAlbums[11]"
                            squareClass="right-23-11"
                        <app-album-placeholder
                        <app-album-placeholder
                            squareClass="right-11-3"
    </div>
        <app-switch-player-button [@controlsVisibility]="controlsVisibility"></app-switch-player-button>
                    [@controlsVisibility]="controlsVisibility"
                    <div class="stage-left w-50 h-100">
                            (albumClick)="onAlbumClickAsync($event)"
                        ></app-album-placeholder>
                            [album]="mostPlayedAlbums[6]"
                            squareClass="right-31-10"
                    class="app-highlights-playback-controls__background theme-footer-background"
        <app-window-controls
                            [animationDelay]="animationDelays[4]"
                            (albumClick)="onAlbumClickAsync($event)"
                            squareClass="right-21-2"
                            squareClass="left-31-7"
                            [album]="mostPlayedAlbums[1]"
                            squareClass="right-22-6"
                        <app-album-placeholder
                            (albumClick)="onAlbumClickAsync($event)"
                            (albumClick)="onAlbumClickAsync($event)"
                            squareClass="left-21-12"
                            [animationDelay]="animationDelays[9]"
                        ></app-album-placeholder>
                            (albumClick)="onAlbumClickAsync($event)"
                    </div>
                            (albumClick)="onAlbumClickAsync($event)"
                        <app-album-placeholder
        <div *ngIf="appearanceService.needsTrafficLightMargin" class="window-frame__trafficlights"></div>
                            squareClass="left-11-9"
                        ></app-album-placeholder>
                            [animationDelay]="animationDelays[3]"
                    <div class="stage-right w-50 h-100">
                <canvas id="highlightsAudioVisualizer" class="app-highlights-playback-controls__audio-visualizer"></canvas>
                            [album]="mostPlayedAlbums[0]"
                            [album]="mostPlayedAlbums[4]"
                ></div>
            [@controlsVisibility]="controlsVisibility"
    <div class="window-frame__titlebar">
                        ></app-album-placeholder>
                            (albumClick)="onAlbumClickAsync($event)"
                    class="app-highlights-playback-controls__playback-pane"
                        ></app-album-placeholder>
                        ></app-album-placeholder>
                        ></app-album-placeholder>
            <div class="app-highlights-playback-controls__container">
                            squareClass="left-23-1"
                            [album]="mostPlayedAlbums[10]"
                        ></app-album-placeholder>
                            [animationDelay]="animationDelays[7]"
</div>
                            (albumClick)="onAlbumClickAsync($event)"
                <div class="app-highlights__background"></div>
                            [album]="mostPlayedAlbums[2]"
                        ></app-album-placeholder>
                            [album]="mostPlayedAlbums[9]"
                    [@controlsVisibility]="controlsVisibility"
                ></app-now-playing-playback-pane>
                            [animationDelay]="animationDelays[1]"
                        <app-album-placeholder
                            [animationDelay]="animationDelays[10]"
                            [album]="mostPlayedAlbums[8]"
                </div>
                            (albumClick)="onAlbumClickAsync($event)"
                            [album]="mostPlayedAlbums[7]"
                            squareClass="left-32-4"
                            squareClass="left-22-5"
                    </div>
                <div
            <div class="app-highlights__content">
                        <app-album-placeholder
                            [album]="mostPlayedAlbums[5]"
                        ></app-album-placeholder>
                <div class="stage d-flex flex-row">
            </div>
            <i class="back-button__icon las la-arrow-left"></i>
                        ></app-album-placeholder>
                            [animationDelay]="animationDelays[6]"
        </div>
                            squareClass="right-12-8"
                            (albumClick)="onAlbumClickAsync($event)"
                            [album]="mostPlayedAlbums[3]"
                        <app-album-placeholder
                            [animationDelay]="animationDelays[2]"
        <div class="window-button back-button" (click)="this.goBackToCollectionAsync()" [@controlsVisibility]="controlsVisibility">
    </div>
        <div class="window-frame__dragarea"></div>
                            [animationDelay]="animationDelays[5]"
                            (albumClick)="onAlbumClickAsync($event)"
                        <app-album-placeholder
                            [animationDelay]="animationDelays[8]"
<div class="window-frame">
        <div class="app-highlights">
    <div class="window-frame__content">
            *ngIf="appearanceService.needsCustomWindowControls"
