                    [isZoomable]="this.isZoomable(buttonTextsCell)"
                    [text]="buttonTextsCell"
    </table>
                ></app-semantic-zoom-button>
<div class="semantic-zoom-out-viewport py-3 d-flex align-items-center justify-content-center" [@fadeIn]="fadeIn">
                <app-semantic-zoom-button
        <tr *ngFor="let buttonTextsRow of buttonTexts" class="semantic-row">
    <table class="semantic-table">
            </td>
</div>
        </tr>
            <td *ngFor="let buttonTextsCell of buttonTextsRow" class="semantic-column">
